.comic-controller {
  width: 95%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1rem 0;

  &__control {
    cursor: pointer;
    font-size: 4rem;
    color: map-get($font-colors, $color-base-dark-secundary);
    &--left {
      margin-right: 2rem;
    }
    &--center {
      font-size: 5.3rem;
      padding-top: 9px;
    }
    &--right {
      margin-left: 2rem;
    }
  }
}
