.row {
  height: 3rem;
  bottom: -70px;
  right: 0px;
  position: absolute;
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  border: 2px solid map-get($font-colors, $color-complementary-light-primary);
  // background-color: rgba(
  //   map-get($font-colors, $color-complementary-light-primary),
  //   0.8
  // );
  background-color: map-get($font-colors, $color-complementary-background);
  &__text {
    position: absolute;
    left: -65px;
    top: 2px;
    bottom: 0;
    margin: auto;
    padding: 2rem 1.1rem;
    background-color: map-get($font-colors, $color-rating-base);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid map-get($font-colors, $color-complementary-light-primary);

    &-label {
      font-size: 1.8rem;
      font-weight: 600;
      font-family: map-get($font-family, $font-family-title);
      position: relative;
      top: 2px;
    }
    &-sublabel {
      font-size: 0.8rem;
      font-weight: 600;
      font-family: map-get($font-family, $font-family-primary);
      position: relative;
      bottom: 2px;
    }
  }
}

.fa-star-o,
.fa-star {
  margin: 0px 0.2rem;
  font-size: 2.7rem;
  cursor: pointer;
  position: relative;
  bottom: 10px;
}
.fa-star {
  color: map-get($font-colors, $color-rating-base);
}
.fa-star-o {
  color: map-get($font-colors, $color-rating-checked);
}

button {
  font-family: 'Open Sans', sans-serif;
}
