.comic {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7rem;
    padding: 0.7rem 10vw 0;
    width: 100%;
    max-width: 100vw;
    background: #fff;
    border-bottom: 4px dashed
      map-get($font-colors, $color-complementary-light-primary);
    &__section {
      height: 100%;
      width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &:nth-last-child(1) {
      justify-self: flex-end;
      align-self: flex-end;
    }
  }
  &-social {
    height: 3rem;
    width: 250px;
    background-color: map-get($font-colors, $color-complementary-primary);
    transform: skewX(-20deg);
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
    align-self: flex-end;
    bottom: 0.6rem;
    @include setComicShadowBox(
      map-get($font-colors, $color-complementary-light-primary)
    );
    &__divition {
      padding-top: 0.5rem;
      text-align: center;
      width: 100%;
      font-size: 2rem;
      color: #fff;
      &:not(:nth-last-child(1)) {
        height: 98%;
        border-right: 3px solid
          map-get($font-colors, $color-complementary-light-primary);
        svg {
          position: relative;
          bottom: 0.3rem;
        }
      }
      svg {
        cursor: pointer;
      }
    }
  }
  &-title {
    font-family: map-get($font-family, $font-family-title);
    letter-spacing: 0.35rem;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    margin-top: 0.5rem;
    color: map-get($font-colors, $color-background);

    @include setComicShadowText(
      map-get($font-colors, $color-complementary-light-primary)
    );
    &--moved {
      margin: 0.5rem 0px 2rem;
      padding-left: 2.5rem;
    }
    &--colored {
      color: map-get($font-colors, $color-complementary-primary);
    }
  }

  &__container {
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    background: #fff;
    border: 2px solid map-get($font-colors, $color-complementary-light-primary);
  }

  &-footer {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    padding: 0.8rem;
    background-color: map-get($font-colors, $color-complementary-primary);
    border-top: 2px solid
      map-get($font-colors, $color-complementary-light-primary);

    &__text {
      font-size: 1rem;
      letter-spacing: 0.1rem;
      font-family: map-get($font-family, $font-family-title);
      color: map-get($font-colors, $color-background);
      @include setComicShadowTextMin(
        map-get($font-colors, $color-complementary-light-primary)
      );
    }

    svg {
      position: relative;
      top: 0.34rem;
      transform: rotate(-90deg);
      margin-left: 0.3rem;
      font-size: 1.5rem;
      filter: drop-shadow(
        -1px 3px 1px map-get($font-colors, $color-complementary-light-primary)
      );
    }
  }
}
