$color-background: 'b-light-cream';
$color-secundary-background: 'b-light-gray';
$color-base-dark-primary: 'p-dark-blue';
$color-base-dark-secundary: 'p-dark-orange';
$color-complementary-light-primary: 'b-dark-black';
$color-complementary-light-secundary: 'b-dark-gray';

$font-colors: (
  $color-background: #faf3e0,
  $color-secundary-background: #f0f0f0,
  $color-base-dark-primary: #1e3a8a,
  $color-base-dark-secundary: #f97316,
  $color-complementary-light-primary: #000000,
  $color-complementary-light-secundary: #4b5563,
);
